*{
    margin: 0px;
    padding: 0px;
      
    
}
h1{
    color: antiquewhite;

}
.fullscreen{
    position: fixed;
}
.Wallpaper{
    background-image:url(https://c.tenor.com/5aPa1uP568wAAAAC/anime-inabakumori.gif);
  
    min-height: calc(100vh - 0px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    background-attachment: fixed;
    background-position:0px;
    background-repeat: no-repeat;
    background-size: cover;
    filter:  brightness(80%);
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .Info > #ng{
        font-size: 10px;
        word-wrap: break-word;
        width: 150px;
    }

    .Info > .Sct{
        font-size: 11px;

    }
   .Info  #act{
    font-size: 12px;
    

   }
   .fullscreen  #m{
    font-size: 16px;
   }
   .center #avt{
height: 80px;
   }

   .Wallpaper .center{
    height: 180px;
    width: 50vh;
   }
  }

.center{
  background-color: rgba(0, 0, 0, 0.699);
    display: inline-flex;
    flex-direction: row;
    border-radius: 10px;
    width: 90vh;
    height: 270px;

}

.avatar{
    height: 100px;
    position: relative;
    top: 50%;
    margin-top: -50px;
    left: 14px;
    border-radius: 100px;

}

.sectioninfo{
    position:relative;
    display: inline;
    top: 35%;
    margin-top: -50px;
    left: 30px;

}

.Title{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    top: 50%;
    font-weight: 400px;
}

.Info{
    
    color: #cccccc ;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
font-weight: 400px;
}

.Sct{
 font-size: 15px;
 color: white;
}

.Redes{
    position: relative;
    align-items: flex-start;
    display: flex;
    margin-top: 8px;
    margin-right: 50px;
}